.content_block {
    padding: 5rem 10rem;
}

.invisible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.main_content {
    height: 80vh;
}

.title_mainText {
    width: 100%;
    font-size: 6rem;
    font-weight: 600;
}

.secondary_text {
    width: 100%;
    display: flex;
    justify-content: end;

    padding-top: 10rem;
}

.secondary_title {
    font-size: 2rem;
    font-weight: 200;

    color: var(--secondaryBlack);
}


.stack_title {
    font-size: 6rem;
}

.stack_block {
    height: 100vh;
}

.stack_item_block {
    display: flex;
    gap: 2rem;
    align-items: center;

}


.stack_item_title {
    font-weight: 200;
    font-size: 2.3rem;
}

.stack_items_space {
    padding-top: 10rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(95%/3));
    

    gap: 6rem;

}

@media screen and (max-width: 660px) {
    .title_mainText {
        font-size: 3.3rem;
    }

    .secondary_title {
        font-size: 1.3rem;
    }

    @media screen and (max-width: 600px) {
        .title_mainText {
            font-size: 2.6rem;
        }
    }

    @media screen and (max-width: 420px) {
        .title_mainText {
            font-size: 2.1rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .content_block {
        margin-top: 2rem;
        padding: 1rem 6rem;        
    }
}

@media screen and (max-width: 358px) {
    .content_block {
        padding: 0 2rem;        
    }
}


@media screen and (max-width: 1000px) {
    .stack_items_space {
        grid-template-columns: repeat(2, calc(100%/2));
    }

    @media screen and (max-width: 800px) {
        .stack_item_title {
            font-size: 1.9rem;
        }
        
    }

    @media screen and (max-width: 726px) {
        .stack_title {
            font-size: 4rem;
        }
        .stack_items_space {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}


@media screen and (max-width:425px) {
    .stack_title {
        font-size: 2rem;
    }
}