.project_section {
    height: 100vh;

    padding: 5rem 10rem;
}

.projects_header {
    height: 10vh;
    font-size: 6rem;
    font-weight: 600;
}

.title {
    font-weight: bold;
    font-size: 2.4rem;
}

.project_space {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.project_block {
    padding-top: 7rem;
    display: flex;
    justify-content: space-between;
}

.image_block {
    width: 20%;
}

.image {
    height: 55vh;
}

.project_text_block {
    height: 55vh;
    width: 25%;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.stack_item_block {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.stack_item_title {
    font-weight: 200;
    font-size: 1.3rem;
}